export VENDIA_ENV='dev'
export VENDIA_WEB_UI='http://localhost:3000'
export USER_POOL_ID='us-east-1_wIbI21hDd'
export USER_POOL_CLIENT_ID='7dmr6u7f4ii3gqerbavbm75d5c'
export IDENTITY_POOL_ID='us-east-1:d8c837c6-b3c0-4b94-8ed5-5cb158ec1e7a'
export SHARE_API_ENDPOINT='https://gtxy7v3kb9.execute-api.us-east-1.amazonaws.com/preview'

PATH_add $WORKSPACE/clients/src/cli/bin